.contain{
    flex-direction: column;
    display: flex;
    gap: 1rem;
}

.primerDiv{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.fondo{
    position: absolute;
    width: 100%;
    height: 99%;
    z-index: -10;
}

.logo{
    width: 15%;
    display: flex;
    justify-items: end;
    align-items: end;
    align-self: flex-end;
    margin-right: 2rem;
}

.boton{
    background-color: rgba(0, 0, 0, 0.341);
    width: 30%;
    margin-top: 10%;
    border-radius: 3rem;
    font-family: 'Acme', sans-serif;
    color: white;
    border: none;
    transition: transform 0.5s;
}
.boton:hover{
    transform: translateY(-10px);
}

.icono{
    width: 6%;
    margin-top: 2rem;
}

.segundoDiv{
    background-color: rgba(218, 255, 251, 1);
    display: flex;
    font-family: 'Acme', sans-serif;
    width: 98.9vw;
    justify-content: space-around;
    color: white;
}

.circulo1{
    width: 20%;
    height: 18rem;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-image: url('./imagenes/quienesSomos.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.341);
    background-blend-mode: overlay;
    background-position: center 20%;
    font-size: 3rem;
    line-height: 60px;
    display: flex;
    align-items: center;
}

.circulo2{
    width: 20%;
    height: 18rem;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-image: url('./imagenes/nuestrosServ.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.341);
    background-blend-mode: overlay;
    background-position: center 50%;
    font-size: 3rem;
    line-height: 60px;
    display: flex;
    align-items: center;
}

.segundoDivSub{
    background-color: rgba(218, 255, 251, 1);
    margin-top: -1rem;
}

.descripción{
    width: 98.7%;
    color: rgba(0, 28, 48, 1);
    background-color: rgba(218, 255, 251, 1);
    padding: 10px;
    margin-top: 10px;
    transition: opacity 1s ease;
}
.p{
    color: rgba(0, 28, 48, 1);
    font-family: 'Acme', sans-serif;
    font-size: 1.5rem;
}

.tercerDiv{
    background-color: rgba(0, 28, 48, 1);
    color: white;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
}

.h1{
    margin-right: -1.7rem;
}

.tercerDivSub{
    display: flex;
    font-family: 'Acme', sans-serif;
    justify-content: center;
}

.tercerDivSub1{
    flex-direction: column;
    display: flex;
}

.tercerDivSub2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tercerD{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.imagen{
    width: 15%;
    height: 15rem;
    border-radius: 50%;
    margin: 3rem;

}

.cuartoDiv{
    background-color: rgba(23, 107, 135, 1);
    font-family: 'Acme', sans-serif;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.contacto {
    display: flex;  
    align-items: center; 
    width: 100%;
    justify-content: space-around;
}
 
.h1D{
    display: flex;
    flex-direction: row;
    margin-bottom: -2rem;
    justify-content: space-around;
    width: 80%;
}

.contacto2 {
    display: flex;  
    align-items: start; 
    width: 68%;
    justify-content: start;  
}

.contacto3 {
    margin-top: 3rem;
    display: flex;  
    align-items: end; 
    width: 52%;
    justify-content: end;  
}

.links {
    display: flex;
    flex-direction: column;
}
  
.links a {
    margin-bottom: 1rem; 
    color: white;
    font-size: 1.5rem;
}

.logo4{
    width: 15%;
}

/* Estilos para el contenedor principal */
.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #04767a;
}

.primerDiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo {
    width: 100%;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.boton {
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0301179b;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #f3f3f3;
}

.icono {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
}

.segundoDiv {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 20px;
}

/* Estilo inicial del círculo */
.circulo1,
.circulo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    margin-top: 1px;
    border-radius: 50%;
    color: #070010;
    font-size: 24px;
    cursor: pointer;
    margin-right: 30px;
}

.imagenCirculo {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    justify-content: center;
    width: 200px;
    height: 200px;
    opacity: 0.8;
}

.textoCirculo {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -120px;
}

/* Estilo del nombre al pasar el mouse */
.circulo1:hover::before,
.circulo2:hover::before {
    content: attr(data-nombre);
    position: absolute;
    top: -30px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Estilo para mostrar el nombre al pasar el mouse */
.circulo1:hover::before {
    left: 50%;
    transform: translateX(-50%);
}

.circulo2:hover::before {
    right: 50%;
    transform: translateX(50%);
}

.circulo1:hover::before,
.circulo2:hover::before {
    opacity: 1;
}

.circulo1 span,
.circulo2 span {
    position: relative;
    z-index: 1;
}

/* Otros estilos y media queries previamente definidos */

.segundoDivSub {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.descripción {
    display: none;
    background-color: #fcfbfdf8;
    padding: 5px;
    width: 800px;
    position: absolute;
    z-index: 1;
    color: #030303;
}

.show {
    display: block;
}

.tercerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
}

.tercerD {
    padding: 1px;
    margin-bottom: 1px;
}

.tercerDivSub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: xx-large;
    color: #fbf9f9f0;
    margin-bottom: 0;
    text-decoration: none;
}

.logo4 {
    width: 80px;
    padding: 10px;
}

.tercerDivSub1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.tercerDivSub2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Estilo inicial de la imagen */
.imagen {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: #ccc;
    border-radius: 50%;
    overflow: hidden;
    margin: 2px;
}

/* Estilo del nombre al pasar el mouse */
.imagen::before {
    content: attr(data-nombre);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Estilo para mostrar el nombre al pasar el mouse */
.imagen:hover::before {
    opacity: 1;
}

.cuartoDiv {
    background-color: #000000;
    padding: auto;
    margin-top: 0px;
    width: 100%;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el contenedor principal */
.detcont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
    margin-top: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 80px;
    padding: 10px;
}

.detcont p {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #fffdfd;
}

.detcont a {
    margin-top: 18px;
    margin-bottom: 26px;
    margin-right: 5px;
    margin-left: 1px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #0e85ce;
    padding: 0.3%;
}

.detcont a:hover {
    color: #d7f830;
}

.contacto3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilos para el contenedor de los enlaces */
.links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Estilos para cada enlace */
.links a {
    margin: 0 10px;
}

.links a:hover {
    color: #eff0ea;
}

.h1D {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #125296;
    padding: -5%;
    margin: -10%;
}

.h1D:hover {
    color: #f3ecfd;
}

/* Estilos para el contenedor inferior del footer */
.contacto3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para los enlaces dentro del contenedor inferior */
.contacto3 a {
    margin: 0 5px;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1copy {
    color: #92eaf8;
    font-size: medium;
    margin-top: 50px;
    margin-bottom: 5px;
}


@media (max-width: 768px) {
    /* Estilos para pantallas de hasta 768px de ancho */

    .circulo1,
    .circulo2 {
        width: 150px;
        height: 150px;
        font-size: 16px;
    }

    .descripción {
        width: 300px;
    }

    .h1 {
        font-size: 20px;
        margin-right: 10px;
    }

    .logo4 {
        width: 80px;
    }

    .imagen {
        width: 60px;
        height: 60px;
    }

    .detcont,
    .contacto3,
    .links {
        flex-basis: 50%;
    }
}



@media (max-width: 480px) {
    /* Estilos para pantallas de hasta 480px de ancho */

    .circulo1,
    .circulo2 {
        width: 120px;
        height: 120px;
        font-size: 14px;
    }

    .descripción {
        width: 250px;
    }

    .h1 {
        font-size: 18px;
        margin-right: 10px;
    }

    .logo4 {
        width: 60px;
    }

    .imagen {
        width: 40px;
        height: 40px;
    }

    .detcont,
    .contacto3,
    .links {
        flex-basis: 100%;
    }
}
