.Overlay{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.297);
    z-index: 999;
}

.ContenedorModal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: rgb(0, 2, 41);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(20, 147, 190);
    width: fit-content;
    max-width: 250px;
    margin: 30px;
    margin-top: 110px;

}


.EncabezadoModal{
    text-align: left;
    margin-bottom: 10px;
    color: rgb(246, 246, 246);
}


.contenedor {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(246, 246, 246);
}

.BotonCerrar{
    
    text-align: center;
    cursor: pointer;
    width: auto;
    color: aquamarine;
    font-size: larger;


}



button[type="submit"] {
    text-align: left;
    background-color: #4ca0af;
    color: rgb(7, 7, 7);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="file"] {
    margin-bottom: 10px;
}

.select{
    background-color: #000013;
    font-size: large;
    color:white;
}

.imaupload{
    width: 100px;
    height: 150px;
 }



input,
select,
button {
    width: 100%;
}

/* Estilos responsive */
@media screen and (max-width: 600px) {
    .ContenedorModal {
        width: 90%;
        max-width: none;
    }
}

@media screen and (max-width: 400px) {
    .ContenedorModal {
        margin: 20px;
        margin-top: 70px;
    }
}