.card {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #DAFFFB;
}

img {
    width: 250px;
    height: 200px;
}


p {
    text-align: center;
}

.agregar {
    background-color: #2B2E4A;
    color: white;
    border-radius: 50%;
    margin-left: 50px;
    margin-bottom: 5px;
}

.cant {
    color: black;
    border-radius: 50%;
    padding: 3px;
    margin-left: 18px;

}

.botones {}


.cont {
    margin-left: 10px;
}