@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.detailContainer {
    width: 1260px;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    
}

.nameImage {
    display: flex;
    flex-direction: column;
}

.detailContainer img {
    border-radius: 20px 20px 0 0;
    width: 345px;
    height: 450px;
    object-fit: cover;
}

.nameContainer {
    width: 345px;
    height: 100px;
    border-radius: 0px 0px 10px 10px;
    background: #001C30;
}

.nameContainer h1 {
    color: white;
    text-align: center;
    font-family: 'Acme', sans-serif;
    /* font-size: 50px; */
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    width: 786px;
    height: 400px;
    border-radius: 0 20px 20px 0;
    background-color: #176B87;
    color: white;
    font-family: 'Acme', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    flex-direction: column;
    flex-wrap: wrap;
}

.ageEste {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    position: absolute;
    top: 620px;
}

.btns button {
    width: 150px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #001C30;
    color: white;
    padding: 10px;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
}

.back {
    position: fixed;
    right: 0;
}

.back button {
    width: 80px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #001C30;
    color: white;
    padding: 5px;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    text-align: center;
}