#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
} */

.read-the-docs {
  color: #888;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    max-width: 100%;
    height: auto;
}

/* Estilos adicionales para el resto de tu página */
